[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiohttp = "*"
ccxt = "*"
pycoin = "*"
jsonrpc = "*"
pandas = "*"
fire = "*"


[dev-packages]

pytest = "*"
pytest-mock = "*"
pytest-asyncio = "*"
pytest-cov = "*"
fire = "*"
